@model WebSite_Galgnvegl.Models.SharedModel
@{
    ViewBag.Title = "Märkte";
}

@*//var selectedData = db.Query("SELECT * FROM Markttermine1");*@
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>
        @ViewBag.Message;
    </title>
</head>
<body>
    @section featured {
        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h1>@ViewBag.Message</h1>
                </hgroup>
                
                <p>
                    <div>
                        <table>
                            <tr>
                                <th>Datum von:</th>
                                <th>bis:</th>
                                <th>Markt</th>
                                <th>Ort</th>
                            </tr>

                            @foreach (var row in Model.db.Query(Model.selectedData))
                            {
                                <tr>
                                    <td>@row.Datum_von </td>
                                    <td>@row.Datum_bis </td>
                                    <td><a href="@row.Link">@row.Marktname</a> </td>
                                    <td>@row.Ort</td>

                                </tr>
                            }
                                
                        </table>
                    </div>
                    @*Bei Änderung der Datenbank: "SQL Server Object Explorer" öffnen --> Markttermine --> Tables --> dbo.tableMarktermine --> Rechtsklick:"View Data" :-D
                      Bei Hinzufügen einer weiteren Tabelle: AKTUALISIEREN, NICHT SPEICHERN!!! Änderungen werden in die sdf gespeichert. :-D*@
                </p>
            </div>
        </section>
    }
</body>
</html>
<script type="text/javascript">

</script>
