@model WebSite_Galgnvegl.Models.SharedModel
@{
    ViewBag.Title = "Märkte";
    
    var 
    
}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>
        @ViewBag.Message;
    </title>
</head>
<body>
    @section featured {
        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h1>@ViewBag.Message</h1>
                </hgroup>
                <p>
                    <div>
                        <table>
                            <tr>
                                <th>Datum</th>
                                <th>Markt</th>
                                <th>Ort</th>
                            </tr>

                            @foreach (var row in db.Query(selectedData))
                            {
                                <tr>
                                    <td>@row.Datum</td>
                                    <td><a href="@row.Link">@row.Markt</a> </td>
                                    <td>@row.Ort</td>

                                </tr>
                            }
                                @*Bei Änderung der Datenbank: "SQL Server Object Explorer" öffnen --> Markttermine --> Tables --> dbo.tableMarktermine --> Rechtsklick:"View Data" :-D
                                Bei Hinzufügen einer weiteren Tabelle: AKTUALISIEREN, NICHT SPEICHERN!!! Änderungen werden in die sdf gespeichert. :-D*@
                        </table>
                    </div>
                </p>
            </div>
        </section>
    }
</body>
</html>
<script type="text/javascript">

</script>
