<!DOCTYPE html>
<html lang="de">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - De Galgnvegl zu Chemnitz</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                    <p><a href="@Url.Action("Index", "Home")">
                        <img class="image" src="@Url.Content("~/Images/LogoDGvzC_Banner.png")" />
                    </a></p>
 
                <span>
                    <img src="~/Images/Kette_ganz_klein.jpg" />
                </span>
            </div>    
        </div>
    </header>
    <div id="body">
        @*<div class="float-right">*@

        <nav class="content-wrapper">
            <span class="menu1" style="margin-right:50px">
                @Html.ActionLink("Home", "Index", "Home")
            </span>
            <br />
            <span class="menu1" style="margin-right:50px">
                @Html.ActionLink("Das sind wir", "AboutUsIndex", "AboutUs")
            </span>
            <br />
            <span class="menu1" style="margin-right:50px">
                @Html.ActionLink("Der Henker im 13. Jh", "RepresentationIndex", "Representation")
            </span>
            <br />
            <span class="menu1" style="margin-right:50px">
                @Html.ActionLink("Angebot", "OfferIndex", "Offer")
            </span>
            <br />
            <span class="menu1" style="margin-right:50px">
                @Html.ActionLink("Märkte", "MarketIndex", "Markets")
            </span>
            <br />
            <span class="menu1" style="margin-right:50px">
                @Html.ActionLink("Bildergalerie", "PictureGalleryIndex", "PictureGallery")
            </span>
            <br />
            <span class="menu1" style="margin-right:50px">
                <a href="http://www.guestbook-free.com/books3/degalgnvegl/">Gästebuch</a>
                @*Nicht schön, aber selten*@
            </span>
            <br />
            <span class="menu1" style="margin-right:50px">
                @Html.ActionLink("Kontakt", "ContactIndex", "Contact")
            </span>
        </nav>
    </div>
    @*  </div>*@
    @RenderSection("featured", required: false)

    <section class="content-wrapper main-content clear-fix">
        @RenderBody()
    </section>
        <footer>
            <div class="content-wrapper">
                <span class="float-left">
                    De Galgnvegl zu Chemnitz- @DateTime.Now.Year - All rights reserved
                </span>

                <span style="margin-left: 50px">
                    @Html.ActionLink("Impressum", "Impressum", "Shared")
                    @Html.ActionLink("Datenschutzerklärung", "Datenschutzerklaerung", "Shared")
                </span>
            </div>
        </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
