@model WebSite_Galgnvegl.Models.User

@{
    ViewBag.Title = "Anmelden";
    if (IsPost)
    {
        Url.Action("MarketsInterna", "Markets");
    }
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

@section featured{         
    @using(Html.BeginForm())
    { 
        @Html.ValidationSummary(true, "Anmeldefehler. Anmeldedaten prüfen.");
        <section class="featured">
            <div class="content-wrapper">
              <fieldset>
                  <legend>Anmelden: </legend>
                  <div class="editor-label">
                      @Html.LabelFor(u => u.UserName)
                  </div>
                  <div class="editor-field">
                      @Html.TextBoxFor(u => u.UserName)
                      @Html.ValidationMessageFor(u => u.UserName)
                  </div>
                  <div class="editor-label">
                      @Html.LabelFor(u => u.Password)
                  </div>
                  <div class="editor-field">
                      @Html.PasswordFor(u => u.Password)
                      @Html.ValidationMessageFor(u => u.Password)
                  </div>
                  <div class="editor-label">
                      @Html.CheckBoxFor(u => u.RememberMe)
                      @Html.LabelFor(u => u.RememberMe)
                  </div>
                  <input type="submit" value="Anmelden" />
              </fieldset>
            </div>
        </section>
       
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
