@{
    ViewBag.Title = "Bildergallerie";
}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>
        @ViewBag.Message;
    </title>
</head>
<body>
    @section featured {
        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h1>@ViewBag.Message</h1>
                </hgroup>
                <a href="@Url.Action("Fight", "Home")">
                    <img src="@Url.Content("~/Images/Fight.jpg")" />
                </a>
                <a href="@Url.Action("FunFight", "Home")">
                    <img src="@Url.Content("~/Images/FunFight.jpg")" />
                </a>
                <a href="@Url.Action("FunFight1", "Home")">
                    <img src="@Url.Content("~/Images/FunFight1.jpg")" />
                </a>
                <a href="@Url.Action("Group", "Home")">
                    <img src="@Url.Content("~/Images/Group.jpg")" />
                </a>
                <a href="@Url.Action("Group1", "Home")">
                    <img src="@Url.Content("~/Images/Group1.jpg")" />
                </a>
                <a href="@Url.Action("Schild", "Home")">
                    <img src="@Url.Content("~/Images/Schild.jpg")" />
                </a>
                <a href="@Url.Action("Serwing", "Home")">
                    <img src="@Url.Content("~/Images/Serwing.jpg")" />
                </a>
                <a href="@Url.Action("Serwing1", "Home")">
                    <img src="@Url.Content("~/Images/Serwing1.jpg")" />
                </a>
                <p>
                    Textteil
                </p>
            </div>
        </section>
    }
</body>
</html>
<script type="text/javascript">

</script>
