@{
    ViewBag.Title = "AboutUsIndex";
}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>
        @ViewBag.Message;
    </title>
</head>
<body>
    @section featured {
        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h1>@ViewBag.Message</h1>
                </hgroup>
                <p>
                    <nav class="content-wrapper">
                        <span class="menu2" style="margin-right:50px">
                            @Html.ActionLink("Igor Worjaz", "IgorWorjaz", "AboutUs")<br />
                        </span>
                        <span class="menu2" style="margin-right:50px">
                            @Html.ActionLink("Steapa Snotor", "SteapaSnotor", "AboutUs")<br />
                        </span>
                        <span class="menu2" style="margin-right:50px" >
                            @Html.ActionLink("Liselotte von Zellrudndorff", "LiselotteVonZellrudndorff", "AboutUs")<br />
                        </span>
                        <span class="menu2" style="margin-right:50px">
                            @Html.ActionLink("Lamia die Sanfte", "LamiaDieSanfte", "AboutUs")<br />
                        </span>
                        <span class="menu2" style="margin-right:50px">
                            @Html.ActionLink("Simon", "Simon", "AboutUs")<br />
                        </span>
                        <span class="menu2" style="margin-right:50px">
                            @Html.ActionLink("Grygr", "Grygr", "AboutUs")<br />
                        </span>
                        <span class="menu2" style="margin-right:50px">
                            @Html.ActionLink("Pater Judas", "PaterJudas", "AboutUs")<br />
                        </span>
                        @Html.ActionLink("zurück", "Index", "Home")<br/>
                    </nav>
                </p>
            </div>
        </section>
    }
</body>
</html>
<script type="text/javascript">

</script>
