
@{
    ViewBag.Title = "AboutUsIndex";
}

    @section featured {
        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h1>@ViewBag.Message</h1>
                </hgroup>
                <p>
                    <nav class="content-wrapper">
                        <nav class="content-wrapper1">
                            <span class="menu2" style="margin-right:50px">
                                @Html.ActionLink("Igor Worjaz", "IgorWorjaz", "AboutUs")<br />
                            </span>
                            <br />
                            <span class="menu2" style="margin-right:50px">
                                @Html.ActionLink("Steapa Snotor", "SteapaSnotor", "AboutUs")<br />
                            </span>
                            <br />
                            <span class="menu2" style="margin-right:50px">
                                @Html.ActionLink("Liselotte von Zellrudndorff", "LiselotteVonZellrudndorff", "AboutUs")<br />
                            </span>
                            <br />
                            <span class="menu2" style="margin-right:50px">
                                @Html.ActionLink("Lamia die Sanfte", "LamiaDieSanfte", "AboutUs")<br />
                            </span>
                            <br />
                            <span class="menu2" style="margin-right:50px">
                                @Html.ActionLink("Simon", "Simon", "AboutUs")<br />
                            </span>
                            <br />
                            <span class="menu2" style="margin-right:50px">
                                @Html.ActionLink("Grygr", "Grygr", "AboutUs")<br />
                            </span>
                            <br />
                            <span class="menu2" style="margin-right:50px">
                                @Html.ActionLink("Pater Judas", "PaterJudas", "AboutUs")<br />
                            </span>
                            <br />
                            @Html.ActionLink("zurück", "Index", "Home")<br />
                        </nav>

                    </nav>
                </p>
            </div>
        </section>
    }